
@*@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>*@

@model dynamic

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        @*<meta name="viewport" content="width=device-width" />*@
        <title>Title</title>
    </head>
    <body>
        <p>THIS IS THE LOGIN VIEW!</p>
    </body>
</html>